<h1><%= t("enumerize.priority.#{@priority}") %></h1>
<% @papers_with_categories.each do |category, papers| %>

  <h2><%= link_to category.name, category_path(category) %> [<%= number_to_score category.score %>]</h2>

  <ul>
    <% papers.each do |paper| %>
      <li><%= link_to paper.title, paper_path(paper) %> [<%= number_to_score paper.score %>]</li>
    <% end %>
  </ul>
<% end %>

