<h1><%= @paper.title %></h1>

<ul>
  <li><%= t('.quotes') %>: <%= @paper.quotes_count %></li>
  <li><%= t('.year') %>: <%= @paper.year %></li>
  <li><%= t('.score') %>: <%= number_to_score @paper.score %></li>
</ul>


<ul>
  <li><%= t('.priority') %>: <%= link_to @paper.priority_text, priority_path(@paper.priority) %></li>
  <li><%= t('.category') %>: <%= link_to @paper.category.name, category_path(@paper.category) %></li>
</ul>

<%= link_to t('.download'), @paper.paper_url %>

<p><%= t '.authors' %>: <%= raw @paper.authors.map{|a| link_to a.name, author_path(a)}.join(', ') %> </p>

<p><%= @paper.description %></p>

